
.edu{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),url("./book.jpg") no-repeat center center/cover;
    content:"";
    width:100%;  
}

.sidebar{
    height:120vh;
}


.headingedu{
    font-family: 'Geologica', sans-serif;
    font-size: 2.3rem;
    color:rgb(202, 149, 4);
    
    text-align: center;
}

.dataofedu {
    border: none;
    float:left;
    width:80%;
    margin-top: 2%;
    margin-left:5%;
    background-color: lightblue;
    box-shadow:10px 10px lightgray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(80, 77, 77);
    height:80%;

    
}
.inf{
    padding:4%;
    border-bottom: 1px solid #9a9a9a;
}

.infocontai{
    display:flex;
    flex-direction: row;
   
}

.book img{
    
    width:50%;
    height:50%;
    object-fit:cover;
    margin:8% ;
    margin-left:10%;
    float:left;


    box-shadow: 10px 10px 0 rgba(0,0,0,0.5);

}
